<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Fabric Elements</h1>
        <p>
          The web components, or custom elements, implementation of
          <a href="https://fabric-ds.github.io/design">Fabric</a>, FINN's design
          system.
        </p>
        <p class="mt-64">
          <strong class="block">Here be dragons</strong> The elements here
          are in early development. Breakages may occur!
        </p>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
