<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Alert</h1>
        <p>Alert is an inline component used for displaying different types of messages.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>negative</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>positive</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>warning</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>info</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>show</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>role</td>
              <td>string</td>
              <td>"alert"</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <syntax-highlight>
          <div class="flex gap-8 flex-wrap mt-16">
            <button class="button button--primary button--small">Toggle show</button>
            <button class="button button--small">Negative alert</button>
            <button class="button button--small">Positive alert</button>
            <button class="button button--small">Warning alert</button>
            <button class="button button--small">Info alert</button>
          </div>
          <f-alert info="true" show>
            <p>This is the message text that can be short or a little bit long</p>
          </f-alert>
        </syntax-highlight>
        <div class="example">
          <div class="flex gap-8 flex-wrap mb-16">
            <button id="alertShowToggle" class="button button--primary button--small">
              Toggle show
            </button>
            <button name="negative" class="alertTypeToggle button button--small">
              Negative alert
            </button>
            <button name="positive" class="alertTypeToggle button button--small">
              Positive alert
            </button>
            <button name="warning" class="alertTypeToggle button button--small">
              Warning alert
            </button>
            <button name="info" class="alertTypeToggle button button--small">Info alert</button>
          </div>
          <f-alert id="alert" info show>
            <p>This is the message text that can be short or a little bit long</p>
          </f-alert>

          <script>
            function resetAlertTypes(alertElement) {
              alertElement.negative = false;
              alertElement.positive = false;
              alertElement.info = false;
              alertElement.warning = false;
            }

            const alertEl = document.getElementById('alert');

            document.getElementById('alertShowToggle').addEventListener('click', () => {
              alertEl.show = !alertEl.show;
            });
            document.querySelectorAll('.alertTypeToggle').forEach((el) => {
              el.addEventListener('click', (event) => {
                resetAlertTypes(alertEl);
                alertEl[event.target.name] = true;
              });
            });
          </script>
        </div>

        <syntax-highlight>
          <f-alert info="true" show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
          </f-alert>
        </syntax-highlight>
        <div class="example">
          <f-alert info show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
          </f-alert>
        </div>

        <syntax-highlight>
          <f-alert info="true" show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
            <a title="Link to more information">Link to more information</a>
          </f-alert>
        </syntax-highlight>
        <div class="example">
          <f-alert info show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
            <a title="Link to more information">Link to more information</a>
          </f-alert>
        </div>

        <syntax-highlight>
          <f-alert info="true" show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
            <a title="Link to more information">Link to more information</a>
            <div class="mt-8 space-x-8">
              <button class="button button--small" onclick="alert('clicked!');">Primary CTA</button>
              <button class="button button--small button--flat" onclick="alert('clicked!');">
                Secondary
              </button>
            </div>
          </f-alert>
        </syntax-highlight>
        <div class="example">
          <f-alert info show>
            <p class="font-bold">Title Caption-Strong</p>
            <p>This is the message text that can be short or a little bit long</p>
            <a title="Link to more information">Link to more information</a>
            <div class="mt-8 space-x-8">
              <button class="button button--small" onclick="alert('clicked!');">Primary CTA</button>
              <button class="button button--small button--flat" onclick="alert('clicked!');">
                Secondary
              </button>
            </div>
          </f-alert>
        </div>
        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          Use the ARIA live region <code>role</code> attribute to provide meaning to the alert
          element (defaults to "alert"). If you want to remove the role from the alert and assign it
          to its particular child (e.g. title), you can do so by setting <code>role</code> attribute
          to an empty string on <code>f-alert</code> element and assigning a respective
          <code>role</code> on the child element. Read more about live region
          <code>role</code> attribute
          <a
            target="_blank"
            title="Read more about ARIA live region role attribute"
            class="text-current hover:no-underline focus:no-underline"
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions#roles_with_implicit_live_region_attributes"
            ><u> on MDN</u></a
          >.
        </p>

        <syntax-highlight>
          <f-alert negative show role="">
            <p role="alert" class="font-bold">This is a warning!</p>
            <p>You see this warning because you did something wrong</p>
            <button class="button button--primary button--small">Close</button>
          </f-alert>
        </syntax-highlight>
        <div class="example">
          <f-alert id="negativeAlert" negative show role="">
            <p role="alert" class="font-bold">This is a warning!</p>
            <p>You see this warning because you did something wrong</p>
            <button id="hide" class="button button--primary button--small">Close</button>
          </f-alert>
          <script>
            document.getElementById('hide').addEventListener('click', () => {
              const negativeAlert = document.getElementById('negativeAlert');
              negativeAlert.show = false;
            });
          </script>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
