<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Attention</h1>
        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>show</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element should be visible.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>placement *</td>
              <td>
                <div>"top" | "right" | "bottom" | "left"</div>
                <div class="annotation">
                  Placement according to the target element. Arrow would be on the opposite side of
                  this position.
                </div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>target-selector *</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Selector of element that the Attention component is rendered relatively to.
                </div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>tooltip</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element is rendered as a tooltip.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>callout</td>
              <td>
                <div>boolean</div>
                <div class="annotation">
                  Whether Attention element is rendered as an inline callout.
                </div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>popover</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element is rendered as a popover.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>no-arrow</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Render Attention element without an arrow.</div>
              </td>
              <td>false</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3 class="mt-24 mb-16">Popover</h3>
        <syntax-highlight>
          <f-attention placement="bottom" popover>
            <button
              id="target"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              onclick="toggleShow()"
              slot="target"
            >
              Click to toggle a popover on bottom
            </button>
            <span slot="message">I'm a popover on bottom</span>
          </f-attention>
        </syntax-highlight>
        <div class="example">
          <f-attention placement="bottom" popover>
            <button
              id="popoverTarget"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              Click to toggle a popover on bottom
            </button>
            <span slot="message">I'm a popover on bottom</span>
          </f-attention>
        </div>

        <h3 class="mt-24 mb-16">Callout</h3>
        <syntax-highlight>
          <f-attention placement="right" show callout class="flex items-center">
            <div
              id="target"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              <p>This is a target to callout attention element</p>
            </div>
            <span slot="message">Callout on right</span>
          </f-attention>
        </syntax-highlight>
        <div class="example">
          <f-attention placement="right" show callout class="flex items-center">
            <div
              id="calloutTarget"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              <p>This is a target to callout attention element</p>
            </div>
            <span slot="message">Callout on right</span>
          </f-attention>
        </div>

        <h3 class="mt-24 mb-16">Tooltip</h3>
        <syntax-highlight>
          <f-attention placement="right" tooltip>
            <button
              id="target"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              Hover or focus to show a tooltip on right
            </button>
            <span slot="message">I'm a tooltip on right</span>
          </f-attention>
        </syntax-highlight>
        <div class="example">
          <f-attention placement="right" tooltip>
            <button
              id="tooltipTarget"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              Hover or focus to show a tooltip on right
            </button>
            <span slot="message">I'm a tooltip on right</span>
          </f-attention>
        </div>

        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          If the Attention element has "left" or "top" position, it should be placed before the
          target element in the DOM.
        </p>
        <p>
          Attention element handles accessibility automatically by wrapping its slotted content with
          a <code>div</code> with <code>role="tooltip"</code>, and setting an
          <code>aria-describedby</code> attribute on the target element.
        </p>
        <p>
          It is possible to tell assistive technologies to recognize only a part of Attention's text
          content. To do that set <code>role="tooltip"</code> on the relevant text element nested in
          <code>f-attention</code> and reference it by id through the use of
          <code>aria-describedby</code>. The <code>aria-describedby</code> attribute is on the
          target element, not on <code>f-attention</code>.
        </p>

        <syntax-highlight>
          <f-attention placement="top" popover>
            <div slot="message">
              <p id="aria-content" role="tooltip">I'm a popover with ARIA "tooltip" role</p>
              <p>(this text is less relevant)</p>
            </div>
            <button
              aria-describedby="aria-content"
              id="target"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              Click to toggle a popover on top
            </button>
          </f-attention>
        </syntax-highlight>
        <div id="accessibilityExample" class="example">
          <f-attention placement="top" popover>
            <div slot="message">
              <p id="aria-content" role="tooltip">I'm a popover with ARIA "tooltip" role</p>
              <p>(this text is less relevant)</p>
            </div>
            <button
              aria-describedby="aria-content"
              id="popoverTarget2"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
              slot="target"
            >
              Click to toggle a popover on top
            </button>
          </f-attention>
        </div>

        <script>
          const tooltipTarget = document.querySelector('.example #tooltipTarget');
          const popoverTarget = document.querySelector('.example #popoverTarget');
          const popoverTarget2 = document.querySelector('.example #popoverTarget2');
          const tooltipEl = document.querySelector('.example [tooltip]');
          const popoverEl = document.querySelector('.example [popover]');
          const popoverEl2 = document.querySelector('#accessibilityExample [popover]');

          tooltipTarget.addEventListener('mouseenter', () => {
            tooltipEl.show = true;
          });
          tooltipTarget.addEventListener('mouseleave', () => {
            tooltipEl.show = false;
          });
          tooltipTarget.addEventListener('focus', () => {
            tooltipEl.show = true;
          });
          tooltipTarget.addEventListener('blur', () => {
            tooltipEl.show = false;
          });
          popoverTarget.addEventListener('click', () => {
            popoverEl.show = !popoverEl.show;
          });
          popoverTarget2.addEventListener('click', () => {
            popoverEl2.show = !popoverEl2.show;
          });
        </script>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
