<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Attention</h1>
        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>isShowing</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element is shown.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>placement *</td>
              <td>
                <div>"top" | "right" | "bottom" | "left"</div>
                <div class="annotation">
                  Placement according to the target element. Arrow would be on the opposite side of
                  this position.
                </div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>targetSelector *</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Selector of element that the Attention component is rendered relatively to.
                </div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>tooltip</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element is rendered as a tooltip.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>callout</td>
              <td>
                <div>boolean</div>
                <div class="annotation">
                  Whether Attention element is rendered as an inline callout.
                </div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>popover</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether Attention element is rendered as a popover.</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>noArrow</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Render Attention element without an arrow.</div>
              </td>
              <td>false</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3 class="mt-24 mb-16">Popover</h3>
        <syntax-highlight>
          <button
            id="target"
            class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
            onclick="toggleIsShowing()"
          >
            Click to toggle a popover on bottom
          </button>
          <f-attention placement="bottom" popover targetSelector="#target">
            <span>I'm a popover on bottom</span>
          </f-attention>
        </syntax-highlight>
        <div class="example">
          <button
            id="popoverTarget"
            class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
          >
            Click to toggle a popover on bottom
          </button>
          <f-attention placement="bottom" popover targetSelector="#popoverTarget">
            <span>I'm a popover on bottom</span>
          </f-attention>
        </div>

        <h3 class="mt-24 mb-16">Callout</h3>
        <syntax-highlight>
          <div class="flex items-center">
            <div
              id="target"
              class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
            >
              <p>This is a target to callout attention element</p>
            </div>
            <f-attention placement="right" isShowing callout targetSelector="#target">
              <span>Callout on right</span>
            </f-attention>
          </div>
        </syntax-highlight>
        <div class="example flex items-center">
          <div
            id="calloutTarget"
            class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
          >
            <p>This is a target to callout attention element</p>
          </div>
          <f-attention placement="right" isShowing callout targetSelector="#calloutTarget">
            <span>Callout on right</span>
          </f-attention>
        </div>

        <h3 class="mt-24 mb-16">Tooltip</h3>
        <syntax-highlight>
          <button
            aria-describedby="tooltip"
            id="target"
            class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
          >
            Hover or focus to show a tooltip on top
          </button>
          <f-attention placement="top" tooltip targetSelector="#tooltipTarget">
            <span id="tooltip" role="tooltip">I'm a tooltip on top</span>
          </f-attention>
        </syntax-highlight>
        <div class="example">
          <button
            aria-describedby="tooltip"
            id="tooltipTarget"
            class="group block relative break-words last-child:mb-0 p-16 rounded-8 bg-aqua-50"
          >
            Hover or focus to show a tooltip on top
          </button>
          <f-attention placement="top" tooltip targetSelector="#tooltipTarget">
            <span id="tooltip" role="tooltip">I'm a tooltip on top</span>
          </f-attention>
        </div>

        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          For assistive technologies to read contents of the displayed Attention element, set
          `role="tooltip"` on the relevant text element nested in `f-attention`. Elements with the
          tooltip role should be referenced through the use of `aria-describedby` before or when the
          tooltip is displayed. The `aria-describedby` attribute is on the target element, not on
          `f-attention`.
        </p>

        <script>
          const tooltipTarget = document.querySelector('.example #tooltipTarget');
          const popoverTarget = document.querySelector('.example #popoverTarget');
          const tooltipEl = document.querySelector('.example [tooltip]');
          const popoverEl = document.querySelector('.example [popover]');

          tooltipTarget.addEventListener('mouseenter', () => {
            tooltipEl.isShowing = true;
          });
          tooltipTarget.addEventListener('mouseleave', () => {
            tooltipEl.isShowing = false;
          });
          tooltipTarget.addEventListener('focus', () => {
            tooltipEl.isShowing = true;
          });
          tooltipTarget.addEventListener('blur', () => {
            tooltipEl.isShowing = false;
          });
          popoverTarget.addEventListener('click', () => {
            popoverEl.isShowing = !popoverEl.isShowing;
          });
        </script>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
