<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Box</h1>
        <p>Box is a layout component used for separating content areas on a page.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>bleed</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will make a box full-width on mobile</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>bordered</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>info</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will style the box with light blue colors</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>neutral</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will style the box with light gray colors</div>
              </td>
              <td>false</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <syntax-highlight>
          <f-box>
            <h3>I have default styles</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box>
            <h3>I have default styles</h3>
          </f-box>
        </div>

        <syntax-highlight>
          <f-box info="true">
            <h3>I am an info box</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box info>
            <h3>I am an info box</h3>
          </f-box>
        </div>

        <syntax-highlight>
          <f-box bordered="true">
            <h3>I am a bordered box</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box bordered="true">
            <h3>I am a bordered box</h3>
          </f-box>
        </div>

        <syntax-highlight>
          <f-box neutral="true">
            <h3>I am a neutral colour</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box neutral>
            <h3>I am a neutral colour</h3>
          </f-box>
        </div>

        <syntax-highlight>
          <f-box neutral="true" bleed="true">
            <h3>I am full width on mobile</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box neutral bleed>
            <h3>I am full width on mobile</h3>
          </f-box>
        </div>

        <syntax-highlight>
          <f-box info class="w-full lg:w-2/4 md:w-2/4">
            <h3 class="mb-16">Info box</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in
              commodo dapibus.
            </p>
            <div class="my-16">
              <a title="This is a link">This is a link</a>
            </div>
            <button class="button button--small" onclick="alert('clicked!');">Button</button>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box info class="w-full lg:w-2/4 md:w-2/4">
            <h3 class="mb-16">Info box</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in
              commodo dapibus.
            </p>
            <div class="my-16">
              <a title="This is a link">This is a link</a>
            </div>
            <button class="button button--small" onclick="alert('clicked!');">Button</button>
          </f-box>
        </div>
        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          Use the ARIA <code>role</code> attribute to provide semantic meaning to a box element.
          Read more about <code>role</code> types
          <a
            target="_blank"
            title="Read more about ARIA role types on MDN"
            class="text-current hover:no-underline focus:no-underline"
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#aria_role_types"
            ><u> on MDN</u></a
          >.
        </p>

        <syntax-highlight>
          <f-box bordered="true" role="section">
            <h3>I am treated as a section element by screen readers and other tools</h3>
          </f-box>
        </syntax-highlight>
        <div class="example">
          <f-box bordered role="section">
            <h3>I am treated as a section element by screen readers and other tools</h3>
          </f-box>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
