<html lang="en">
    <%- include('head.html'); -%>
    <body>
        <%- include('nav.html'); -%>

        <main>
            <h1>&lt;fabric-breadcrumbs&gt;</h1>

            <h2>Examples</h2>

            <fabric-breadcrumbs class="mt-10">
                <a href="#/url/1">Eiendom</a>
                <a href="#/url/2">Bolig til salgs</a>
                <a href="#/url/3" aria-current="page">
                    Oslo
                </a>
            </fabric-breadcrumbs>
        </main>

        <%- include('footer.html'); -%>
    </body>
</html>
