<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Breadcrumbs</h1>
        <p>Breadcrumbs show the navigation structure for the current location.</p>

        <h2 class="mt-24 mb-16">Import</h2>
        <syntax-highlight>import "@fabric-ds/elements";</syntax-highlight>

        <h2 class="mt-24 mb-16">Examples</h2>

        <h3>All segments linkable</h3>

        <syntax-highlight>
          <f-breadcrumbs>
            <a href="#/url/1">Eiendom</a>
            <a href="#/url/2">Bolig til salgs</a>
            <a href="#/url/3" aria-current="page"> Oslo </a>
          </f-breadcrumbs></syntax-highlight
        >
        <div class="example">
          <f-breadcrumbs class="mt-10">
            <a href="#/url/1">Eiendom</a>
            <a href="#/url/2">Bolig til salgs</a>
            <a href="#/url/3" aria-current="page">Oslo</a>
          </f-breadcrumbs>
        </div>

        <h3>Disabled last link</h3>

        <syntax-highlight>
          <f-breadcrumbs>
            <a href="#/url/1">Eiendom</a>
            <a href="#/url/2">Bolig til salgs</a>
            <span aria-current="page">Oslo</span>
          </f-breadcrumbs></syntax-highlight
        >
        <div class="example">
          <f-breadcrumbs class="mt-10">
            <a href="#/url/1">Eiendom</a>
            <a href="#/url/2">Bolig til salgs</a>
            <span aria-current="page">Oslo</span>
          </f-breadcrumbs>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
