<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Broadcast</h1>

        <p>
          Broadcast automatically fetches broadcast messages for the current
          url.
        </p>
        <p>Uses f-toast under the hood.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <p>
          Refetch interval: <strong>interval</strong> — default 300 000 (5
          minutes)
        </p>
        <p>Environment: <strong>dev</strong> — default false</p>
        <p>
          Url to check for: <strong>url</strong> — default window.location.href
        </p>

        <h2 class="mt-24 mb-16">Example usages</h2>
        <f-broadcast api="https://dev.finn.no/broadcasts" url="https:/dev.finn.no/meldinger" interval="5000"></f-broadcast>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
