<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Broadcast</h1>

        <p>
          Broadcast automatically fetches broadcast messages for the current
          url.
        </p>
        <p>Uses f-toast under the hood.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <p>
          Refetch interval: <strong>interval</strong> — default 300 000 (5
          minutes)
        </p>
        <p>Environment: <strong>dev</strong> — default false</p>
        <p>
          Url to check for: <strong>url</strong> — default window.location.href
        </p>

        <h2 class="mt-24 mb-16">Example usages</h2>
        <syntax-highlight><f-broadcast></f-broadcast></syntax-highlight>
        <syntax-highlight>
          // Fetches from dev.finn.no instead of finn.no
          <f-broadcast dev="true"></f-broadcast
        ></syntax-highlight>
        <syntax-highlight>
          // 4 second refetch interval
          <f-broadcast interval="4000"></f-broadcast>
        </syntax-highlight>
        <syntax-highlight>
          // The url is automatically set through window.location.href, but you
          can override this by passing url as a param
          <f-broadcast url="finn.no/finn/travel"></f-broadcast>
        </syntax-highlight>

        <f-broadcast api="https://dev.finn.no/broadcasts" url="https:/dev.finn.no/meldinger" interval="5000"></f-broadcast>

        <div class="example">
          <f-toast
            id="broadcast-toast"
            type="warning"
            text="Oops! Vi opplever fortiden serverproblemer og beklager for eventuelle ulemper dette kan medføre."
          ></f-toast>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
