<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Button</h1>
        <p>Buttons are used to perform actions, with different visuals for different needs.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>type</td>
              <td>
                <div>"button" | "submit" | "reset"</div>
                <div>Button type, only applied when href is not set.</div>
              </td>
              <td>"button"</td>
            </tr>
            <tr>
              <td>variant</td>
              <td>"primary" | "secondary" | "negative" | "utility" | "link" | "pill"</td>
              <td>"secondary"</td>
            </tr>
            <tr>
              <td>quiet</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>small</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>loading</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>href</td>
              <td>
                <div>string</div>
                <div>Set the href for the location where clicking the button will take you to.</div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>target</td>
              <td>
                <div>string</div>
                <div>
                  Anchor target, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a.
                </div>
              </td>
              <td>-</td>
            </tr>
            <tr>
              <td>rel</td>
              <td>
                <div>string</div>
                <div>The relationship of the linked URL.</div>
              </td>
              <td>"noopener"</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24">Visual Options</h2>

        <h3 class="pb-16 mt-32">Variants</h3>

        <div id="variantsTable"></div>

        <h3 class="mt-32">Quiet</h3>

        <div class="md:grid md:grid-cols-3">
          <div class="col-span-2">
            By default, buttons have a visible stroke and fill. Quiet buttons do not have this
            visible stroke or fill and should only be used for secondary actions within a button
            group. Quiet buttons have the same padding rules as other action buttons and reveal a
            button-like background color when hovered.
            <syntax-highlight>
              <f-button quiet>Quiet secondary button</f-button>
              <f-button quiet variant="negative">Quiet negative button</f-button>
              <f-button quiet variant="utility">Quiet utility button</f-button>
            </syntax-highlight>
          </div>
          <div class="grid-example md:ml-48 col-span-2 md:col-span-1">
            <f-button quiet>Quiet secondary button</f-button>
            <f-button quiet variant="negative">Quiet negative button</f-button>
            <f-button quiet variant="utility">Quiet utility button</f-button>
          </div>
        </div>

        <h3 class="mt-32">Link</h3>

        <div class="md:grid md:grid-cols-3">
          <div class="col-span-2">
            Buttons will be rendered as an anchor (a tag) if they use an href attribute.
            <syntax-highlight>
              <f-button href="https://google.no">Button as anchor</f-button>
            </syntax-highlight>
          </div>
          <div class="grid-example md:ml-48 col-span-2 md:col-span-1">
            <f-button href="https://google.no">Button as anchor</f-button>
          </div>
        </div>

        <h3 class="mt-32">Loading state</h3>

        <div class="md:grid md:grid-cols-3">
          <div class="col-span-2">
            To show the user that the action they triggered has begun, buttons have an in progress
            or loading state.
            <syntax-highlight>
              <f-button variant="primary" loading>Primary button loading</f-button>
            </syntax-highlight>
          </div>
          <div class="grid-example md:ml-48 col-span-2 md:col-span-1">
            <f-button variant="primary" loading>Button loading</f-button>
          </div>
        </div>

        <h3 class="mt-32">Disabled state</h3>

        <p>
          Disabled is an anti-pattern and is not supported. There will ALWAYS be users who don't
          understand why an element is disabled, or users who can't even see that it is disabled
          because of poor lighting conditions or other reasons.
        </p>

        <h2>Accessibility</h2>
        <p>
          If the button doesn't have visible text content, such as when used with only an icon, an
          <code>aria-label</code> prop must be provided for accessibility.
        </p>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>
    <%- include('buttonVariantsTable.html'); -%> <%- include('scripts.html'); -%>
  </body>
</html>
