<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Card</h1>

        <h2 class="mt-24 mb-16">Props</h2>
        <p><strong>selected</strong> – default false</p>
        <p><strong>clickable</strong> – default false</p>
        <p><strong>flat</strong> – default false</p>
        
        <h3>Selected</h3>

        You can control whether the card looks "selected" by setting the `selected` attribute OR property.<br /><br />

        <h4>Attribute</h4>
        <syntax-highlight>
          <f-card selected>
            <div class="m-20">This example shows a card that looks selected</div>
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card selected>
            <div class="m-20">This example shows a card that looks selected</div>
          </f-card>
        </div>

        <h4>Property</h4>
        <syntax-highlight>
          <f-card id="card-selected-property-example">
            <div class="m-20">This example shows a card that looks selected</div>
          </f-card>
          <script>document.querySelector('#card-selected-property-example').selected = true;</script>
        </syntax-highlight>
        <div class="example" id="property-example">
          <f-card>
            <div class="m-20">This example shows a card that looks selected</div>
          </f-card>
          <script defer type="module">
            window.addEventListener('load', () => {
              const el = document.querySelector('#property-example f-card').selected = true;
            })
          </script>
        </div>

        <h3>Clickable</h3>

        Whenever you add event listeners or use the onclick attribute, you should set the component's `clickable` attribute.
        This ensures that things such as keyboard navigation works as expected.

        <syntax-highlight>
          <f-card clickable onclick="alert('clicked!');">
            <div class="m-20">This example shows content as a clickable div</div>
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card clickable onclick="alert('clicked!');">
            <div class="m-20">This example shows content as a clickable div</div>
          </f-card>
        </div>

        <h3>Flat</h3>

        If you need to give the component a flat look, set the `flat` attribute.

        <syntax-highlight>
          <f-card flat>
            <div class="m-20">This example shows content with a flat look</div>
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card flat>
            <div class="m-20">This example shows content with a flat look</div>
          </f-card>
        </div>


        <h2 class="mt-24 mb-16">Examples</h2>

        <h3>Semantics</h3>

        When you need the component to behave like a section, article or what have you, you should set the `role` attribute.

        <syntax-highlight>
          <f-card role="section">
            <div class="m-20">This example shows the card behaving like a section</div>
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card role="section">
            <div class="m-20">This example shows the card behaving like a section</div>
          </f-card>
        </div>

        <h3>Click event handler example</h3>

        You can register click events with onclick or addEventListener as per any other HTML element.
        When you do so, be sure to set the `clickable` attribute on the element for styling and accessibility reasons.

        <syntax-highlight>
          <f-card class="mt-10 mr-10" clickable onclick="this.selected=!this.selected">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/402x402"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </syntax-highlight>
        <div class="example flex flex-col md:flex-row justify-between">
          <f-card class="mt-10 mr-10" clickable onclick="this.selected=!this.selected">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/400x400"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
          <f-card class="mt-10 mr-10" clickable onclick="this.selected=!this.selected">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/401x401"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
          <f-card class="mt-10 mr-10" clickable onclick="this.selected=!this.selected">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/403x403"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </div>

        <h3>Anchor link example</h3>

        <p>
          Keep in mind that if you wish to make the Card a clickable anchor card, you must add a div
          as the very first element with the attribute
          <code>aria-owns</code> set to the id of the title element. In this example we set it to
          the id of <code>title</code> and assign the <code>h3</code> this id.
        </p>

        <p></p>

        <p>You should follow these semantics, but styling is up to you.</p>

        <syntax-highlight>
          <f-card>
            <div aria-owns="title"></div>
            ...
            <h3 id="title">
              <a href="..." title="content"> content </a>
            </h3>
            ...
          </f-card>
        </syntax-highlight>

        <p>Full code example:</p>

        <syntax-highlight>
          <f-card class="mt-10 mr-10">
            <div aria-owns="title"></div>
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/402x402"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <h3 class="text-16 font-normal text-gray-800" id="title">
                <a
                  href="//finn.no"
                  target="_blank"
                  title="Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                  Inkl. bl.a. vv/fyring."
                  class="text-current hover:no-underline focus:no-underline"
                >
                  Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a.
                  vv/fyring.
                </a>
              </h3>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </syntax-highlight>
        <div class="example flex flex-col md:flex-row justify-between">
          <f-card class="mt-10 mr-10">
            <div aria-owns="title"></div>
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/402x402"
              alt="Description"
            />
            <p class="absolute top-12 left-12 bg-aqua-200 text-aqua-900 p-4 rounded-4 text-12">
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <h3 class="text-16 font-normal text-gray-800" id="title">
                <a
                  href="//finn.no"
                  target="_blank"
                  title="Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                  Inkl. bl.a. vv/fyring."
                  class="text-current hover:no-underline focus:no-underline"
                >
                  Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019. Inkl. bl.a.
                  vv/fyring.
                </a>
              </h3>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span style="font-size: 10px; vertical-align: 'super'; margin-right: 5px"> 2 </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
