<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Card</h1>

        <h2 class="mt-24 mb-16">Props</h2>
        <p>
          <strong>as</strong> – default 'div' (The wrapping container element)
        </p>
        <p>
          <strong>selected</strong> – default false (If the card is selected)
        </p>
        <p>
          <strong>onclick</strong> – on click handler (When the card is clicked)
        </p>

        <h2 class="mt-24 mb-16">Examples</h2>

        <syntax-highlight>
          <f-card as="section" selected="false">
            This example content is in a section
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card as="section" selected="false">
            This example content is in a section
          </f-card>
        </div>

        <syntax-highlight>
          <f-card class="mt-10" onclick="alert('clicked!');" selected="true">
            This example content is in a clickable div
          </f-card>
        </syntax-highlight>
        <div class="example">
          <f-card class="mt-10" onclick="alert('clicked!');" selected="true">
            This example content is in a clickable div
          </f-card>
        </div>

        <syntax-highlight>
          <f-card class="mt-10 mr-10">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/400x400"
              alt="Description"
            />
            <p
              class="
                absolute
                top-12
                left-12
                bg-aqua-200
                text-aqua-900
                p-4
                rounded-4
                text-12
              "
            >
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span
                  style="
                    font-size: 10px;
                    vertical-align: 'super';
                    margin-right: 5px;
                  "
                >
                  2
                </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </syntax-highlight>
        <div class="example flex flex-col md:flex-row justify-between">
          <f-card class="mt-10 mr-10" onClick="alert('hi')">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/400x400"
              alt="Description"
            />
            <p
              class="
                absolute
                top-12
                left-12
                bg-aqua-200
                text-aqua-900
                p-4
                rounded-4
                text-12
              "
            >
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span
                  style="
                    font-size: 10px;
                    vertical-align: 'super';
                    margin-right: 5px;
                  "
                >
                  2
                </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
          <f-card class="mt-10 mr-10" onClick="alert('hi')">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/402x402"
              alt="Description"
            />
            <p
              class="
                absolute
                top-12
                left-12
                bg-aqua-200
                text-aqua-900
                p-4
                rounded-4
                text-12
              "
            >
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span
                  style="
                    font-size: 10px;
                    vertical-align: 'super';
                    margin-right: 5px;
                  "
                >
                  2
                </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
          <f-card class="mt-10 mr-10" onClick="alert('hi')">
            <img
              class="h-128 w-full object-cover"
              src="https://source.unsplash.com/random/401x401"
              alt="Description"
            />
            <p
              class="
                absolute
                top-12
                left-12
                bg-aqua-200
                text-aqua-900
                p-4
                rounded-4
                text-12
              "
            >
              Ukens bolig
            </p>
            <div class="p-16">
              <p class="text-12 text-gray-300">DNB Eiendom</p>
              <p>
                Stilfull og gjennomgående 3-roms m/balkong. Oppusset i 2019.
                Inkl. bl.a. vv/fyring.
              </p>
              <p class="text-14 text-gray-400 mb-4">Bøgata 25C, 0655 Oslo</p>
              <p class="font-bold my-8">
                52 m
                <span
                  style="
                    font-size: 10px;
                    vertical-align: 'super';
                    margin-right: 5px;
                  "
                >
                  2
                </span>
                Totalpris: 4 869 039 kr
              </p>
              <p class="text-14 text-gray-400 mb-0">
                Eier (Selveier) <span class="text-gray-200">•</span> Leilighet
                <span class="text-gray-200">•</span> 2 soverom
              </p>
            </div>
          </f-card>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
