<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1 class="mb-16">Expandable</h1>
        <p>Expandable is a layout component used for creating expandable content areas on a page.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>expanded</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Controls component's expanded state</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>bleed</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Makes the box full-width on mobile</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>info</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Styles the box with light blue color</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>box</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether to display the component as a padded box or not</div>
                <td>false</td>
              </td>
            </tr>
            <tr>
              <td>animated</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Animate open and close</div>
                <td>false</td>
              </td>
            </tr>
            <tr>
              <td>no-chevron</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether to hide the chevron on the button part of the component</div>
                <td>false</td>
              </td>
            </tr>
            <tr>
              <td>title</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Component title. Used to display the title value which is always present
                  regardless of whether the component is open or closed.
                </div>
                <td></td>
              </td>
            </tr>
            <tr>
              <td>heading-level</td>
              <td>
                <div>number</div>
                <div class="annotation">
                  Wrap the toggle button in a heading element with the specified level. If
                  headingLevel is not specified, the button will not be wrapped by a heading element
                </div>
                <td></td>
              </td>
            </tr>
            <tr>
              <td>button-class</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Additional CSS classes to include on the button part of the component
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>content-class</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Additional CSS classes to include on the content part of the component
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3>With style modifiers</h3>

        <syntax-highlight>
          <div class="flex gap-8 flex-wrap mt-16">
            <button class="button button--small">box</button>
            <button class="button button--small">bleed</button>
            <button class="button button--small">info</button>
            <button class="button button--small">animated</button>
          </div>
          <f-expandable title="I'm expandable">
            <p>with expanded content</p>
          </f-expandable>
        </syntax-highlight>
        <div class="example">
          <div id="expandableControllers" class="flex gap-8 flex-wrap mb-16" aria-controls="expandable">
            <%- include('expandableControllers.html'); -%>
          </div>
          <f-expandable id="expandable" title="I'm expandable">
            <p>with expanded content</p>
          </f-expandable>
        </div>

        <h3>With a heading wrapping the toggle button</h3>
        <p>This can be used to wrap the toggle button in a heading for navigational and structural purposes. It's a feature that is needed typically in scenarios where multiple consecutive Expandable components are used.</p>

        <syntax-highlight>
          <f-expandable box info title="I'm expanded with h2 wrapper" heading-level="2">
            <p>with expanded content</p> 
          </f-expandable>
        </syntax-highlight>
        <div class="example">
          <f-expandable box info title="I'm expanded with h2 wrapper" heading-level="2">
            <p>with expanded content</p>
          </f-expandable>
        </div>

        <h3>With custom title</h3>
        <p>This can be used if more control over styling is needed than the <code>title</code> prop allows</p>

        <syntax-highlight>
          <f-expandable box info>
            <div slot="title" class="flex flex-row items-center">
              <f-icon-bag16></f-icon-bag16>
              <p class="ml-8 mb-0">This is a title with an icon</p>
            </div>
            <p>with expanded content</p> 
          </f-expandable>
        </syntax-highlight>
        <div class="example">
          <f-expandable box info>
            <div slot="title" class="flex flex-row items-center">
              <f-icon-bag16></f-icon-bag16>
              <p class="ml-8 mb-0">This is a title with an icon</p>
            </div>
            <p>with expanded content</p>
          </f-expandable>
        </div>


        <h3>Without title</h3>
         
        <syntax-highlight>
          <f-button variant="primary" aria-label="Toggle expandable content without title" aria-controls="expandableWithoutTitle">Toggle</f-button>
          <f-expandable box info expanded animated id="expandableWithoutTitle">
            <p>with expanded content</p> 
          </f-expandable>
        </syntax-highlight>
        <div class="example noTitle">
          <f-button variant="primary" aria-label="Toggle expandable content without title" aria-controls="expandableWithoutTitle">Toggle</f-button>
          <f-expandable box info expanded animated class="mt-16" id="expandableWithoutTitle">
            <p>Expandable content</p>
          </f-expandable>
        </div>


        <h3>With expanded prop</h3>

        <syntax-highlight>
          <f-expandable box info title="I'm expanded by default" expanded>
            <p>content should be visible</p> 
          </f-expandable>
        </syntax-highlight>
        <div class="example">
          <f-expandable box info title="I'm expanded by default" expanded>
            <p>content should be visible</p>
          </f-expandable>
        </div>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('expandableControllersScripts.html'); -%> <%- include('scripts.html'); -%>
  </body>
</html>
